<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark navbar-fixed-top   bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#" style="max-width: 30%;">
        <img src="./../assets/cheminlogo.gif"class="img-fluid">
     </a>
    <a class="navbar-brand" style="color:white">DashBoard</a>

    <a class="navbar-brand" (click)="auth.login()" *ngIf="!auth.isAuthenticated()" style="color:white" >Login</a>
    <a class="navbar-brand" (click)="auth.logout()" *ngIf="auth.isAuthenticated()" style="color:white" >Logout</a>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>

        </ul>
    </div>

  </nav>
  <div class="container-fluid">
      <div class="row" >"
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" >
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active"(click)="Collapse()" *ngIf="auth.isAuthenticated()"  [routerLink]='[""]'>Total Salary Commitments <i  class="fa fa-angle-down rotate-icon"></i> <span class="sr-only">(current)</span></a>
              <div *ngIf="show">
                  <ul >
                      <li><a [routerLink]='["/side"]'  *ngIf="auth.isAuthenticated()" class="nav-item">Local Employees</a>
                      </li>
                      <li><a [routerLink]='["/table"]'*ngIf="auth.isAuthenticated()" class="nav-item">Permanent Employees</a>
                      </li>
                  </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" (click)="Collapse2()" *ngIf="auth.isAuthenticated()" [routerLink]='[""]' >Total OutStanding Commitments  <i  class="fa fa-angle-down rotate-icon"></i></a>
              <div *ngIf="show2">
                  <ul >
                      <li><a [routerLink]='["/outl"]' *ngIf="auth.isAuthenticated()" class="nav-item">Local Employees</a>
                      </li>
                      <li><a [routerLink]='["/outp"]'*ngIf="auth.isAuthenticated()" class="nav-item">Permanent Employees</a>
                      </li>
                  </ul>
              </div>

            </li>
            <li class="nav-item">
                <a class="nav-link active" (click)="Collapse3()" *ngIf="auth.isAuthenticated()" [routerLink]='[""]' >Employee Details  <i  class="fa fa-angle-down rotate-icon"></i></a>
                <div *ngIf="show3">
                    <ul >
                        <li><a [routerLink]='["/totalperm"]' *ngIf="auth.isAuthenticated()" class="nav-item">Permanent Employees</a>
                        </li>
                        <li><a [routerLink]='["/totalout"]'*ngIf="auth.isAuthenticated()" class="nav-item">Local Employees</a>
                        </li>
                    </ul>
                </div>

              </li>


          </ul>




        </nav>


    </div>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1 *ngIf="auth.isAuthenticated()">Salary Commitments</h1>
    <div align="center" *ngIf="!auth.isAuthenticated()">
      <h2>Please Log In to Continue</h2>
      <button class="btn btn-deep-orange"   (click)="auth.login()">Please Log In</button>
    </div>

    <router-outlet></router-outlet>
    </main>





