<table   datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
      <th>Sl.No</th>
      <th>Employee Id</th>
      <th>Name</th>

      <th>Designation</th>
      <th>Place Name</th>
      <th>SubContractor</th>
      <th>Perday Salary</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of permanent">
        <td>{{emp.Id}}</td>
        <td>{{emp.EmpId}}</td>
        <td>{{emp.EmployeeName}}</td>
        <td>{{emp.Designation}}</td>

        <td>{{emp.place}}</td>
        <td>{{emp.SubContractor}}</td>
        <td>{{emp.perday}}</td>


      </tr>
    </tbody>

  </table>
  <div align="center">
      <div class="loader"  *ngIf="loading"></div>
      <br/>
      <h4 *ngIf="loading">Loading Details ..</h4>
  </div>
